@import "tailwindcss";
/* Light theme (default) */
:root {
  --background: #EBF4DD;
  --foreground: #171717;
  --heading: #684aff;
  --selection-bg: #6b4eff;   /* darker for light mode */
  --selection-text: #ffffff;
}

/* Dark theme when .dark class is on html */
.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
  --heading: #967cff;
  --selection-bg: #aa94ff;   /* soft for dark mode */
  --selection-text: #18181B;
}


*::selection {
  background: var(--selection-bg);
  color: var(--selection-text);
}



@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-heading: var(--heading);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
}

body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 9999;
  opacity: 0.03;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.9' numOctaves='4' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
  background-repeat: repeat;
}
